import math

import pymongo


MB = 1024 ** 2.0
PIXELS = 100


def f2s(n, scale=1.0):
    """Given float, return str.
    """
    if n == 0.0:
        out = "0&nbsp;&nbsp;"
    else:
        out = "%.01f" % (n / scale)
    return out


class CollectionRow(object):

    def __init__(self, db, dbsize, collname):
        self.dbsize = dbsize
        self.name = collname
        self.stats = stats = db.command({'collstats': collname})
        self.size = stats['storageSize']

    def format_size(self):
        total = f2s(self.dbsize, MB).replace("&nbsp;", "N")

        percent = f2s(self.size / self.dbsize * 100)
        percent = ((5 - len(percent)) * "&nbsp;") + percent
        left = percent

        absolute = f2s(self.size, MB)
        absolute = absolute.replace("&nbsp;", "N")
        absolute = ("&nbsp;" * (len(total) - len(absolute))) + absolute
        absolute = absolute.replace("N", "&nbsp;")
        absolute = " %s&nbsp;&nbsp;&nbsp;" % absolute
        right = absolute

        return left + right

    def format_utilization(self):
        out = f2s(self.stats['size'] / self.dbsize * 100)
        out.replace("&nbsp;", "N")
        out = ("&nbsp;" * (len(out) - 5)) + out
        out.replace("N", "&nbsp;")
        return out


^L


server = request.path['server']
database = request.path['database']

db = pymongo.Connection(server, slave_okay=True)[database]
dbsize = float(100) # db.command({'dbstats': 1})['storageSize'])
collnames = sorted(db.collection_names())
collections = [CollectionRow(db, dbsize, collname) for collname in collnames]
ncollections = len(collections)

^L
{% extends "base.html" %}
{% block content %}
<style>
    TR.collection TD.notfirst {
        border-top: none ! important;
        padding: 0 1em 0 10px ! important;
    }
    TR.collection TD {
        padding-bottom: 0 ! important;
    }
    TR.collection TD.name {
        width: 1px;
    }
    TD.size, TD.utilization {
        width: 1px;
        padding-right: 1em ! important;
        padding-left: 10px;
        font: normal 10pt/12pt "Lucida Mono", Monaco, monospace;
        text-align: right;
        white-space: nowrap;
        font-weight: normal ! important;
        color: #CCC;
    }
    TR.server TD.size, 
    TR.server TD.utilization, 
    TR.database TD.utilization {
        padding-left: 0 ! important;
        padding-right: 0 ! important;
        text-align: center;
    }
    TR.collection TD.utilization {
        text-align: center;
    }
    TD.empty {
        width: 100%;
    }
</style>
<table>
    <tr class="big server">
        <th><a href="/" title="Click for All Servers">Server</a></th>
        <td>{{ server }}</td>
        <td class="size">Size on Disk</td>
        <td class="utilization">Utilization</td>
        <td class="empty"></td>
    </tr>
    <tr class="big database">
        <th><a href="/{{ server }}/" title="Click for All Databases">Database</a></th>
        <td>{{ database }}</td>
        <td class="size">&nbsp;&nbsp;&nbsp;%&nbsp;&nbsp;&nbsp;{{ f2s(dbsize, MB) }} MB</td>
        <td class="utilization">%</td>
        <td class="empty"></td>
    </tr>
    {% for i, collection in enumerate(collections) %}
    <tr class="big collection listing">
        {% if i == 0 %}<th rowspan="{{ ncollections }}"><span>Collections</span></th>{% end %}
        <td class="name{% if i > 0 %} notfirst{% end %}"><a href="/{{ server }}/{{ database }}/{{ collection.name }}/">{{ collection.name }}</a></td>
        <td class="size{% if i > 0 %} notfirst{% end %}">{{ collection.format_size() }}</td>
        <td class="utilization{% if i > 0 %} notfirst{% end %}">{{ collection.format_utilization() }}</td>
        <td class="empty{% if i > 0 %} notfirst{% end %}"></td>
    </tr>
    {% end %}
</table>
{% end %}
